command="/home/codex/entry",no-x11-forwarding,no-pty ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwsIIbJFg0ZMALEHytVvF6XOShLJGi6bV98+vwdNYOScMChCPrxwCsI9xT7uPJ61HSb6wXuHgUlyK6gBlESqPTx7YioNSAt8fvQETmoFgktCOzVpNQbojEop7F5VG/YX+rGtP3fsXtMoWOLV5MiJAU2GCVzo2Tf76E724kGSCZQAk7QlMFsntA8s6QpPs8vJPqU/LHNgUsVPo5WIYY7E0zR5RNTJq1/NWZx0RJg4u5/Q9VA3wqrpuIrVvlq+VjS5nmwUvP7lvXYjlefyLX3qDFcIQswsApyK7yAzCEbinmmt6ah+sFnonUQ0127hv1ncEHOowCv4L1DQzxFMUOSlVz
